Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(html)
RewriteRule ^assets/(.*)$ /html/assets/$1 [L]
RewriteRule ^css/(.*)$ html/css/$1 [L]
RewriteRule ^js/(.*)$ html/js/$1 [L]
RewriteRule ^images/(.*)$ html/images/$1 [L]
RewriteRule (.*) /html/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /html/index.php