.top-task-info{
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(194,177,194,1);
    -moz-box-shadow: 5px 7px 5px 0px rgba(194,177,194,1);
    box-shadow: 5px 7px 5px 0px rgba(194,177,194,1);
}

.table-container{
    max-height: 250px;
    overflow: auto;
}

.steps-btn a, .steps-btn button{
    border-radius: 20px;
}

.notice-comment{
    display: block;
    position: relative;
    left:-15px;
}

.status-1{
    background: #f0ad4e;
}

.status-2{
    background: #c9302c;
}

.status-3{
    background: #398439;
}

.status-step{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: right;
}

.user-step-info{
    padding: 4px;
    background: #e0d9d9;
    border-radius: 11px;
}

#count-rows{
    padding: 7px;
    border-radius: 20px;
    border: 1px dashed #5cb85c;
}

.status-rework{
    color:red;
}

.status-work{
    color:#eea236;
}

.status-done{
    color:green;
}